@page "/listExpenses"
@using BlazorExpenseTracker.Domain.Model;
@using BlazorExpenseTracker.Domain.Services
@inject ExpensesDataService _expensesDataService

<PageTitle>Expenses List</PageTitle>

<h1>Expenses List</h1>



@if (expenses == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Value</th>
                <th>Category</th>
                <th>Payment Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var expense in expenses)
            {
                <tr>
                    <td>@expense.Date.ToShortDateString()</td>
                    <td>@expense.Value</td>
                    <td>@expense.Category</td>
                    <td>@expense.PaymentType</td>
                    <td>@expense.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Expense[]? expenses;

    protected override async Task OnInitializedAsync()
    {
        expenses = await _expensesDataService.GetExpenses(DateOnly.FromDateTime(DateTime.Now));
    }
}
